appdirs==1.4.4
atomicwrites==1.4.0
fastapi==0.115.12
git-filter-repo==2.47.0
huggingface-hub==0.33.1
jiter==0.10.0
jsonpointer==2.1
matplotlib==3.9.2
openai==1.91.0
passlib==1.7.4
protobuf==4.25.3
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
safetensors==0.5.3
setuptools==75.1.0
starlette==0.46.2
sympy==1.14.0
tokenizers==0.21.2
torch==2.7.0
torchvision==0.22.0
transformers==4.53.0
uv==0.7.14
uvicorn==0.34.2
wheel==0.44.0